.main-container{
text-align: center;
}
.app-container{
  display: flex;
  flex-direction: row;
  
}
.link-genration-card{
  background-color:#fff;
  border-radius: 10px;
  padding: 10px;
  height: 370px;
  width: 350px;
  margin-right: 120px;
  box-shadow: 0 0 10px rgba(0,0,0,0,2);
}
.user-input{
  display: block;
  margin: 10px;
  width: 280px;
  height: 15px;
  padding: 6px;
  font-size: 15px;
}
.btn-link-genrate{
  display: block;
  width: 160px;
  height: 30px;
  margin: 20px auto;
  background-color:  #000;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.shorturl{
  display: flex;
  flex-wrap: wrap;
}
.user-shorturl{
  margin: 10px;
  width: 240px;
  height: 15px;
  padding: 6px;
  font-size: 15px;
}
.copy-icon{
  margin-top: 10px;
  height: 30px;
  width: 30px;
  color: #000;
  cursor: pointer;
}


.all-links-card{
  height: 100px;
  width: 450px;
  margin: 35px;
  background-color: white;
  padding: 10px;
  box-shadow:1px 2px 10px 2px #000;
}

.all-links-container{
  height: 390px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 1px;
}
.all-links-container::-webkit-scrollbar{
  display: none;
}
.card-clicks{
  font-weight: bold;
  font-size: 18px;
}
.card-slug{
  cursor: pointer;
}