.main-container{
text-align: center;
}
.app-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.link-genration-card{
  background-color:#fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0,2);
}
.user-input{
  display: block;
  margin: 10px;
  width: 280px;
  height: 15px;
  padding: 6px;
  font-size: 15px;
}
.btn-link-genrate{
  display: block;
  width: 160px;
  height: 30px;
  margin: 20px auto;
  background-color:  #000;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.shorturl{
  display: flex;
  flex-wrap: wrap;
}
.user-shorturl{
  margin: 10px;
  width: 240px;
  height: 15px;
  padding: 6px;
  font-size: 15px;
}
.copy-icon{
  margin-top: 10px;
  height: 35px;
  width: 35px;
  color: #000;
}
